@model IEnumerable<Restaurantopia.Entities.Models.Item>

@{
    ViewData["Title"] = "Menu";
    Layout = "_MenuLayout";
}

<!-- Optional: Create New Button -->
<div class="row">
    <h1 class="col-md-6">Menu</h1>
    <p class="col-md-6">
        <a asp-action="Create" class="btn btn-success float-end">Create New</a>
    </p>
</div>

<!-- Dynamic Menu Card Section -->
<div class="filters-content">
    <div class="row grid">
        @foreach (var item in Model)
        {
            <div class="col-md-12 tab-wrap">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                        <div class="row no-gutters d-flex align-items-stretch">
                            <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
                                <div class="menus d-sm-flex ftco-animate align-items-stretch">
                                    <!-- Dynamic Background Image -->
                                    <div class="menu-img img" style="background-image: url('/Images/breakfast-1.jpg');"></div>
                                    <div class="text d-flex align-items-center">
                                        <div>
                                            <div class="d-flex">
                                                <div class="one-half">
                                                    <!-- Dynamic Item Title -->
                                                    <h3>@item.ItemTitle</h3>
                                                </div>
                                                <div class="one-forth">
                                                    <!-- Dynamic Item Price -->
                                                    <span class="price">$@item.ItemPrice</span>
                                                </div>
                                            </div>
                                            <!-- Dynamic Item Description -->
                                            <p>@item.ItemDescription</p>
                                            <!-- Order Now Button -->
                                            <p><a href="/OrderDetails/Index" class="btn btn-primary">Order now</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End of row -->
                    </div> <!-- End of tab-pane -->
                </div> <!-- End of tab-content -->
            </div> <!-- End of tab-wrap -->
        }
    </div> <!-- End of grid -->
</div> <!-- End of filters-content -->
